<!DOCTYPE html>
<html style="overflow-x: hidden; overflow-y: auto;">
    <head>
        {% load static %}
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js">
          $('input[name="daterange"]').ajax({
            url: "url",
            type: "get",
            success: function(response){
            $('#blurg').html(response).fadeIn(1500);
                 }
          });
        </script>
        <link rel='stylesheet' href='{% static "css/theme.css" %}'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css">
        <!--interavtive-->
        <link href="https://cdn.jsdelivr.net/gh/interactiveJS/interactiveJS@v2.0.1/src/css/interactive.min.css" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/gh/interactiveJS/interactiveJS@v2.0.1/src/interactive.min.js"></script>



        <!--interavtive-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <title>Dashboard </title>
        <script src="https://unpkg.com/amazon-quicksight-embedding-sdk@1.18.1/dist/quicksight-embedding-js-sdk.min.js"></script>
        <script src='{% static "js/amazon-cognito-identity.min.js" %}'></script>

        {% block content %}

        {%for u in url%}
        <p>{{u}}</p>
        {%endfor%}
        {% endblock %}
        
        <script type="text/javascript">
         

          var citiestoCompare = [];
          function Add(city) {
            console.log(city);
            var city = city;
            var i = citiestoCompare.indexOf(city);
            if (i == -1) {
              citiestoCompare.push(city);
              const list = document.getElementById('comp');
              const entry = document.createElement('li');
              entry.appendChild(document.createTextNode(city));
              list.appendChild(entry);
              document.getElementById('comparisonFooterDiv').style.display = "block";
              var heightpx = document.getElementById('comparisonFooterDiv').style.height;
              var height = heightpx.replace("rem", "")
              document.getElementById('comparisonFooterDiv').style.height = (parseFloat(height)+70) + "px";

            }
            //console.log(c);

          }

          function test() {
            document.getElementById("test").innerHTML= "HELLO";
            console.log("testtt");
            
          }
          var startDate;
            var endDate;
            var dashboards = {
              embeddingContainerAQI: "",
              embeddingContainerComp:""
            };
            var QuickSightEmbedding //= require("amazon-quicksight-embedding-sdk");
            function mainEmbed(){ 
              EmbedAQI();
              EmbedComp();
              console.log("Embed Main");
            }
            function EmbedAQI()
            {
            {% block content1 %}
            embedDashboard("{{AqiDashboard.url}}","{{AqiDashboard.con}}");
            {% endblock %}
            }
            function EmbedComp()
            {
            {% block content2 %}
            embedDashboard("{{CompDashboard.url}}","{{CompDashboard.con}}");
            {% endblock %}
            }
            function embedDashboard(url,container) {

             
  
                var containerDiv = document.getElementById(container);
                var url2 = url;
                //var url3 = url2.concat('#p.Cities=Manama&p.startdatetime=', startDate, '&p.enddatetime=', endDate);
                //document.getElementById("s").innerHTML = url3;

                var options = {
                    // replace this dummy url with the one generated via embedding API
                    url: url2.replaceAll('&amp;', '&'),
                    container: containerDiv,
                    scrolling: "no",
                    height: "AutoFit",
                    width: "100%",
                    footerPaddingEnabled: true
                    
  
                };
                console.log(options.url);
                //dashboards.push(QuickSightEmbedding.embedDashboard(options));
                dashboards[container] = QuickSightEmbedding.embedDashboard(options);
                console.log("Embed Dashboard");
                console.log(options);
            }

            function  showComparisonModal(){
              comparisonmodal.style.display = "block";
              console.log(citiestoCompare, startDate, endDate);
              dashboards["comparisonModal2"].setParameters({CityNametype: citiestoCompare, startdatetime: startDate, enddatetime: endDate});
              console.log("Embed");
            }

            function  SeeDetailsPage(city){
              intersectionmodal.style.display = "block";
              console.log(city);
              dashboards["aqitrafficchart"].setParameters({CityNametype: city, startdatetime: startDate, enddatetime: endDate});
              document.getElementById("intersectionModalTimeRange").innerHTML = startDate + " - " + endDate;

            }
            /*function closeComp()
            {
              citiestoCompare = [];
              document.getElementById('comp').innerHTML = '';
              comparisonmodal.style.display = "none";


            }*/
        </script>

    </head>
    <body scroll="yes" style="overflow:visible">
      
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#" onclick="logout()">Log out</a>
        </nav>
        <script type="text/javascript">
          function setCookie(key, value, expiry) {
          var expires = new Date();
          expires.setTime(expires.getTime() + (expiry * 24 * 60 * 60 * 1000));
          document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
          }
          
          function getCookie(key) {
          var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
          return keyValue ? keyValue[2] : null;
          }
          
          function eraseCookie(key) {
          var keyValue = getCookie(key);
          setCookie(key, keyValue, '-1');
          }
          const urlParams = new URLSearchParams(window.location.hash.substr(1)); 
          const myParam = urlParams.get('access_token');
          
          if(myParam!=null) {
            setCookie('token', myParam, 1);
          }
          else{
            var idToken = getCookie('token');
            if(idToken==null)
            {
              window.location.replace("https://trafficpollution.auth.us-east-1.amazoncognito.com/login?client_id=kuvkf63mkr44nkcc9e8t8vhc8&response_type=token&scope=aws.cognito.signin.user.admin&redirect_uri=https://trafficpollution.hamadsuniverse.com");
              
            }
          }
          function logout(){
            eraseCookie('token');
            alert("logout");
            window.location.replace("/");
            
  
          }
  
          </script>
       <span></span> 
      <!---  <div><button onClick=(mainEmbed())>Test</button> <p id="test"> </p></div>---->
      <form  method="post" id="dateForm">
        {% csrf_token %}
      <input type="text" name="daterange" value="" id="daterange" class="DashboardDatePicker"/>
      <input type="test" value="" hidden name="start" id="start"/>
      <input type="test" value="" hidden name="end" id="end"/>

      <input type="submit" value="Apply" />
    </form>
      
      <script>//$('input[name="daterange2"]').daterangepicker();</script>
      
        <script>
          $(document).ready(function(){
            
          $('#dateForm').on('submit', function(e){
            e.preventDefault();
            console.log("function");

          $.ajax({
	        method:'POST',
	        url:'date',
	        data:{
          start:$('#start').val(),
	        end:$('#end').val(),
	        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          }, 
          success: function() {

          alert('Data Successfully Posted');
	
        },
});

});
});
        /*  $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        $('#dateForm').on('submit', function(event){

          event.preventDefault();
          console.log("form submitted!")  // sanity check
          create_post();
        });
        function create_post() {
        console.log("create post is working!") // sanity check
        console.log($('#start').val())
        $.ajax({
        url : "date", // the endpoint
        type : "POST", // http method
        data : { start : $('#start').val(), end : $('#end').val()}, // data sent with the post request

        // handle a successful response
        success : function(json) {
            $('#start').val('');
            $('#end').val(''); // remove the value from the input
            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};
      //};*/


       
        //$(function() {
         $('input[name="daterange"]').daterangepicker({
            opens: 'left'
          }, function(start, end, label) {
            startDate = start.format('YYYY/MM/DD');
            endDate = end.format('YYYY/MM/DD');
            document.getElementById("start").value = startDate;
            document.getElementById("end").value = endDate;

            console.log("date");

            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
               

  });    
        </script>
   <!--- Map Container --->
      <div style="background-color:#a9d4f3;">
         <div id='map' class="map">
    </div></div>

    <!--- Side Panel Skeleton ---->

    <div id="SidePanel" class="citySidePanel" style="right:-350px;">
        <div class="circle"><i class="material-icons" onclick="hideSidePanel()">clear</i></div>
      <p id="SidePanelTitle"></p> 
      <p id="SidePanelAQI"></p> 
      <p id="SidePanelWaitTime"></p>
      <p id="SidePanelNoOfVehicles"></p>
      <div class="AQIChart" id="AQIChart">   
 
  
  </div>
      <button id="AddToCompareButton" value=" " onClick="Add(value)">Add to Compare</button><br>
      <a id="SeeDetailsLink" value = " " onClick="SeeDetailsPage(value)">See Details</a>
    </div>  
    

    <!--- See Details Modal ---->
    <div id="intersectionModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <div id="intersectionModalTitle" class="intersectionModalTitle">
            <div id="intersectionModalCityName" class="intersectionModalCityName"></div>
              <div id="intersectionModalTimeRange" class="intersectionModalTimeRange"><p id="intersectionModalTimeRange"></p></div>
               </div>
            <span id="intersectionModalClose" class="close"  >&times;</span>
            <div id="aqitrafficchart"></div>
            <div id="SeeDetailsTable">
              
            </div>
        </div>
      </div>




  <!--- Comparison Modal ---->
      <div id="comparisonModal" class="modal" >
        <!-- Modal content -->
        <div id="comparisonModal2" class="modal-content" >
          <span id="cspan" class="close">&times;</span>
          Comparison Pop Up
        </div>
      </div>



<div id="mainDashboardTrialDiv"></div>
      
   <!--- <div id="maplegend"></div>---->
       <div class="overlay-container" id="overlay-container">
           <!---<span class="overlay-text" id="FeatureCityID"></span><br>
           <span class="overlay-text" id="FeatureIntersectionID"></span><br>
       ---></div>
       <!---<button id="comparsionButton" class='AddToCompareTableButton' style ="width: 250px;" onClick="showComparisonModal()">show Comparison Modal</button>---->
       <button id="pan-to-london" onclick="buttnClickPan()">Pan to London</button>
       <button onClick="buttnClick()">DocDB Call</button>
   
   <div id="trialId">
      </div>
   
  <!---Main Dashboard Table Div---->     
      <div id="mainDashboardCitiesTable">
      </div>


  <!--- Comparison Footer Container
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
         
  <script>
   $("#button").click(function(){
    if($(this).html() == "-"){
        $(this).html("+");
    }
    else{
        $(this).html("-");
    }
    $("#comparisonFooterContent").slideToggle();
}); 
  </script>---->
  <script src="https://cdn.jsdelivr.net/gh/interactiveJS/interactiveJS@v2.0.1/src/individuals/minMaxClose.min.js"></script>
  <link href="https://cdn.jsdelivr.net/gh/interactiveJS/interactiveJS@v2.0.1/src/css/minMaxClose.min.css" rel="stylesheet"/>
<!---
<script>
  var coll = document.getElementsById("comparisonFooterDiv");
  var i;
  for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.getElementById("comparisonFooterContent")
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}

</script>-->
<script>
 /* minMaxClose('comparisonFooterDiv');

let options1 = {
  close: false
}
//minMaxClose('element1', options1);
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    document.classList.toggle("active");
    console.log("Clicked")
    var content = document.getElementById("comparisonFooterContent");
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}*/
function minimize() {

    //document.classList.toggle("active");
    console.log("Clicked")
    var content = document.getElementById("comparisonFooterContent");
    if (content.style.display === "block") {
      content.style.display = "none";
      document.getElementsByClassName("collapsible").value = "^"
    } else {
      content.style.display = "block";
    }
  }


</script>
<div id="comparisonFooterDiv" name="Default options"  display = "none" style ="width: 100%;" >
  
  <div id="title_bar" style ="height: 40px;">
    <input type="button" style ="display: flex;position:absolute; right:3px; width:20px;height:30px;" class="collapsible" onclick="minimize()" value="˅"></input><p>Cities to Compare</p> 
  <br /><br /><br />
  </div>
  <div id="comparisonFooterContent"  style ="width: 100%;">
    <ul style="list-style: none;" id="comp"></ul>

    <button id="comparsionButton" class='AddToCompareTableButton' style ="display: flex;bottom:5px; position:absolute; right:25px; width:140px;height:30px;" onClick="showComparisonModal()">Compare</button>
   <!---
    <button id="comparsionButton"  class='AddToCompareTableButton' style ="width: 250px;position:absolute;bottom:0;right:0; " onClick="showComparisonModal()">show Comparison Modal</button>
 -->

    
  </div>
</div>




       <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>
       <script src='{% static "js/map.js" %}'></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
       <script>
       window.onload=initpage;
    function initpage(){
    getMainDashboardElements();
    initmap();
    mainEmbed();}
        var intersectionfile = "{% get_media_prefix %}GeoJSON/intersections.GeoJSON";
        var cityfile = "{% get_media_prefix %}GeoJSON/cities.GeoJSON";
        var intersectionspinonline = "{% static 'images/needlepin.svg' %}"; 
        var intersectionspinoffline = "{% static 'images/needlepinoffline.svg' %}";      
        var goodpin = "{% static 'images/good.svg' %}";
        var unhealthysgpin = "{% static 'images/unhealthysg.svg' %}";
        var unhealthypin = "{% static 'images/unhealthy.svg' %}";     
        var veryunhealthypin = "{% static 'images/veryunhealthy.svg' %}";
        var hazarduospin = "{% static 'images/Hazarduos.svg' %}";
        var moderatepin = "{% static 'images/moderate.svg' %}";
        document.getElementById('comparisonFooterDiv').style.display = "none";

        </script> 


    </body>
</html>